@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto desenvolvido para estudo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Desenvolvido com .net core e entity framework</a>.</p>
</div>
